<template>
<div>
  <delete-item />
<v-card>
    <v-toolbar color="teal" class="text-white" prominent>

      <v-toolbar-title>CRUD de productos y pedidos</v-toolbar-title>

      <v-spacer></v-spacer>

      <template v-slot:extension>
        <v-tabs
          v-model="tab"
          align-with-title
        >
          <v-tab
            v-for="item in items"
            :key="item"
            :value="item"
          >
            {{ item }}
          </v-tab>
        </v-tabs>
      </template>
    </v-toolbar>

    <v-window v-model="tab">
      <v-window-item
        value="Pedidos"
      >
        <pedidos-tab />
      </v-window-item>

      <v-window-item
        value="Productos"
      >
        <productos-tab />
      </v-window-item>
    </v-window>
  </v-card>

  <v-snackbar
    v-model="snackbar.success"
    color="green"
  >
    <span class="text-white"><strong>Operación exitosa</strong></span>
  </v-snackbar>
  <v-snackbar
    v-model="snackbar.error"
    color="red"
  >
    <span class="text-white"><strong>Falló la operación</strong></span>
  </v-snackbar>
</div>
</template>

<script>
import { inject, ref } from 'vue'
import PedidosTab from './PedidosTab.vue'
import ProductosTab from './ProductosTab.vue'
import DeleteItem from './dialogs/DeleteItem.vue'
  export default {
  components: { PedidosTab, ProductosTab, DeleteItem },
    setup () {
      // Variables
      const $bus = inject('bus')
      const tab = ref(null)
      const items = ref(['Pedidos', 'Productos'])
      const text = ref('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
      const snackbar = ref({
        success: false,
        error: false
      })

      // Functions

      // Boot
      $bus.on('notifySuccess', () => {
        snackbar.value.success = true
      })

      $bus.on('notifyError', () => {
        snackbar.value.error = true
      })

      // Template
      return {
        tab,
        items,
        text,
        snackbar
      }
    }
  }
</script>