<template>
<div>
  <pedido-form />
  <products-order />
  <v-row class="pa-3">
    <v-col cols="12" class="pa-3">
      <v-card class="pa-3" elevation="0">
        <v-card-title>
          <strong><h3>Lista de pedidos</h3></strong>
          <v-spacer></v-spacer>
          <v-btn
            icon="mdi-plus"
            color="teal"
            class="text-white"
            @click="addOrder()"
          ></v-btn>
        </v-card-title>

        <v-card-text>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">
                  Fecha
                </th>
                <th class="text-left">
                  Total
                </th>
                <th class="text-center">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="order in orders"
                :key="order.id"
              >
                <td>{{ order.fecha }}</td>
                <td>{{ order.total }}</td>
                <td class="text-center">
                  <v-btn
                    icon="mdi-book"
                    color="primary"
                    class="text-white"
                    size="small"
                    @click="productsOrder(order)"
                    title="Ver productos"
                  ></v-btn>
                  <v-btn
                    icon="mdi-pen"
                    color="primary"
                    class="text-white"
                    size="small"
                    @click="editOrder(order)"
                    title="Editar pedido"
                  ></v-btn>
                  <v-btn
                    icon="mdi-delete"
                    color="red"
                    class="text-white"
                    size="small"
                    @click="deleteOrder(order)"
                    title="Eliminar pedido"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card-text>

      </v-card>
    </v-col>
  </v-row>
</div>
</template>

<script>
import { inject, ref } from 'vue'
import axios from '@/plugins/axios'
import PedidoForm from './dialogs/PedidoForm.vue'
import ProductsOrder from './dialogs/ProductsOrder.vue'
export default {
  components: {PedidoForm, ProductsOrder},
  setup () {
    // Variables
    const $bus = inject('bus')
    const orders = ref([])
    
    // Functions
    const getOrders = async () => {
      try {
        let res = await axios.get('pedidos')
        orders.value = res.data
      } catch (error) {
        console.log(error)
      }
    }

    const addOrder = () => {
      $bus.emit('openDialogPedidoForm', {total: 0})
    }

    const editOrder = (order) => {
      $bus.emit('openDialogPedidoForm', order)
    }

    const deleteOrder = (order) => {
      const data = {
        url: `pedidos/${order.id}`,
        refresh: 'refreshOrdersList'
      }
      $bus.emit('openDialogDeleteItem', data)
    }

    const productsOrder = (order) => {
      $bus.emit('openDialogProducts', order.pedidoProducto)
    }

    // Boot
    getOrders()
    $bus.on('refreshOrdersList', () => {
      getOrders()
    })

    // Template
    return {
      orders,
      addOrder,
      editOrder,
      deleteOrder,
      productsOrder
    }
  }
}
</script>

<style>

</style>