<template>
<div>
  <producto-form />
  <v-row class="pa-3">
    <v-col cols="12" class="pa-3">
      <v-card class="pa-3" elevation="0">
        <v-card-title>
          <strong><h3>Lista de productos</h3></strong>
          <v-spacer></v-spacer>
          <v-btn
            icon="mdi-plus"
            color="teal"
            class="text-white"
            @click="addProduct()"
          ></v-btn>
        </v-card-title>

        <v-card-text>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">
                  Nombre
                </th>
                <th class="text-left">
                  Fabricante
                </th>
                <th class="text-left">
                  Origen
                </th>
                <th class="text-left">
                  Fecha de caducidad
                </th>
                <th class="text-left">
                  Precio
                </th>
                <th class="text-left">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="product in products"
                :key="product.id"
              >
                <td>{{ product.nombre }}</td>
                <td>{{ product.fabricante }}</td>
                <td>{{ product.origen }}</td>
                <td>{{ product.fecha_caducidad }}</td>
                <td>
                  {{ product.precio }}
                </td>
                <td>
                  <v-btn
                    icon="mdi-pen"
                    color="primary"
                    class="text-white"
                    size="small"
                    @click="editProduct(product)"
                  ></v-btn>
                  <v-btn
                    icon="mdi-delete"
                    color="red"
                    class="text-white"
                    size="small"
                    @click="deleteProduct(product)"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card-text>

      </v-card>
    </v-col>
  </v-row>
</div>
</template>

<script>
import { inject, ref } from 'vue'
import axios from '@/plugins/axios'
import ProductoForm from './dialogs/ProductoForm.vue'
export default {
  components: {ProductoForm},
  setup () {
    // Variables
    const $bus = inject('bus')
    const products = ref([])
    
    // Functions
    const getProducts = async () => {
      try {
        let res = await axios.get('productos')
        products.value = res.data
      } catch (error) {
        console.log(error)
      }
    }

    const addProduct = () => {
      $bus.emit('openDialogProductForm', {})
    }

    const editProduct = (product) => {
      $bus.emit('openDialogProductForm', product)
    }

    const deleteProduct = (product) => {
      const data = {
        url: `productos/${product.id}`,
        refresh: 'refreshProductList'
      }
      $bus.emit('openDialogDeleteItem', data)
    }

    // Boot
    getProducts()
    $bus.on('refreshProductList', () => {
      getProducts()
    })

    // Template
    return {
      products,
      addProduct,
      editProduct,
      deleteProduct
    }
  }
}
</script>

<style>

</style>