<template>
  <v-app>
    <v-main>
      <main-tab />
    </v-main>
  </v-app>
</template>

<script>
import MainTab from './components/MainTab.vue'

export default {
  name: 'App',

  components: {
    MainTab,
  },

  data: () => ({
    //
  }),
}
</script>
