<template>
	<v-row>
		<v-col cols="12">
			<v-dialog
				v-model="dialog"
				transition="dialog-bottom-transition"
			>
				<v-card>
					<v-toolbar
						color="teal"
						class="text-white pa-2 text-h5"
					><strong>Eliminar</strong></v-toolbar>
					<v-card-text>
            ¿Está seguro de eliminar el elemento?
					</v-card-text>
					<v-card-actions class="justify-end">
						<v-btn
							text
							color="red"
							@click="closeDialog()"
						>Cancelar</v-btn>
						<v-btn
							@click="deleteItem()"
							text
							color="green"
							:loading="loading"
						>Eliminar</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</template>

<script>
import { inject, ref } from 'vue'
import axios from '@/plugins/axios'
export default {
	setup () {
		//Variables
		const $bus = inject('bus')
		const dialog = ref(false)
		const params = ref({
      url: '',
      refresh: ''
    })
    const loading = ref(false)

		// Functions
		const deleteItem = async () => {
			try {
        loading.value = true
        await axios.delete(params.value.url)
        $bus.emit(params.value.refresh)
        $bus.emit('notifySuccess')
        closeDialog()
      } catch (error) {
        console.log(error)
        $bus.emit('notifyError')
        loading.value = false
      }
		}

		const closeDialog = () => {
			params.value = {
        url: '',
        refresh: ''
      }
      loading.value = false
			dialog.value = false
		}

		// Boot
		$bus.on('openDialogDeleteItem', data => {
			params.value = data,
			dialog.value = true
		})

		// Template
		return {
      dialog,
      deleteItem,
      closeDialog,
      loading
    }
  }
}
</script>

<style>

</style>