<template>
	<v-row>
		<v-col cols="12">
			<v-dialog
				v-model="dialog"
				transition="dialog-bottom-transition"
			>
				<v-card>
					<v-form @submit.prevent="save" ref="formRef" v-model="valid">
						<v-toolbar
						color="teal"
						class="text-white pa-2 text-h5"
					><strong>Nuevo pedido</strong></v-toolbar>
					<v-card-text>
						<v-row>
							<v-col
								cols="6"
								md="6"
							>
								<v-text-field
                                    type="date"
									v-model="form.fecha"
									:rules="validations.required"
									label="Fecha"
									required
								></v-text-field>
							</v-col>

							<v-col
								cols="6"
								md="6"
							>
								<v-text-field
									v-model="form.total"
									:rules="validations.required"
									label="Total"
									required
                                    disabled
								></v-text-field>
							</v-col>

							<v-col
								cols="12"
								md="12"
                                class="text-h6"
							>
                                <strong>Productos</strong>
                                <v-btn
                                    icon="mdi-plus"
                                    color="teal"
                                    class="text-white"
                                    @click="addProduct()"
                                    size="sm"
                                ></v-btn>
							</v-col>

                            <v-col
								cols="12"
								md="12"
                                class="text-h6"
							>
                                <v-row v-for="(relation, index) in manyRelation" :key="index">
                                    <v-col cols="4">
                                        <v-select
                                            v-model="relation.id"
                                            :items="products"
                                            item-value="id"
                                            :item-title="v => `${v.nombre}(${v.precio}Bs.)`"
                                            label="Standard"
                                            :rules="validations.required"
                                            @update:modelValue="v => setPrice(v, relation)"
                                        ></v-select>
                                    </v-col>

                                    <v-col cols="4">
                                        <v-text-field
                                            v-model="relation.quantity"
                                            type="number"
                                            :rules="validations.required"
                                            label="Cantidad"
                                            required
                                            @keyup="getTotal(relation)"
                                        ></v-text-field>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-text-field
                                            v-model="relation.total"
                                            type="number"
                                            :rules="validations.required"
                                            label="Total"
                                            required
                                            disabled
                                        ></v-text-field>
                                    </v-col>

                                    <v-col cols="1">
                                        <v-btn
                                            icon="mdi-delete"
                                            color="red"
                                            class="text-white"
                                            @click="deleteRelation(index)"
                                        ></v-btn>
                                    </v-col>

                                </v-row>
							</v-col>

						</v-row>
					</v-card-text>
					<v-card-actions class="justify-end">
						<v-btn
							text
							color="red"
							@click="closeDialog()"
						>Cancelar</v-btn>
						<v-btn
							@click="save()"
							text
							color="green"
							:loading="loading"
						>Guardar</v-btn>
					</v-card-actions>
					</v-form>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</template>

<script>
import { inject, ref } from 'vue'
import axios from '@/plugins/axios'
export default {
	setup () {
		//Variables
		const $bus = inject('bus')
		const dialog = ref(false)
		const form = ref({})
		const formRef = ref(null)
		const valid = ref(true)
		const loading = ref(false)
        const products = ref([])
        const manyRelation = ref([])

		// Validations
		const validations = {
			required: [v => !!v || 'Campo requerido']
		}

		// Functions
		const save = async () => {
			formRef.value.validate()
            // BUG DE VUETIFY: SIN RESETEAR EL FORM SE DEBE HACER DOBLE CLICK PARA PASAR LA VALIDACIÓN EN LA EDICIÓN
			// SE ESTA FORZANDO A CAMBIAR EN CASO DE EDICIÓN "valid" a true
			if (form.value.id) {
				valid.value = true
			}
			if (valid.value) {
				try {
					loading.value = true
					if (form.value.id) {
                        delete form.value.productos
                        delete form.value.pedidoProducto
                        form.value.manyRelations = manyRelation.value
						await axios.patch(`pedidos/${form.value.id}`, form.value)
						$bus.emit('refreshOrdersList')
						$bus.emit('notifySuccess')
						closeDialog()
					} else {
                        form.value.manyRelations = manyRelation.value
						await axios.post('pedidos', form.value)
						$bus.emit('refreshOrdersList')
						$bus.emit('notifySuccess')
						closeDialog()
					}	
				} catch (error) {
					console.log(error)
					loading.value = false
					$bus.emit('notifyError')
				}
			}
		}

		const closeDialog = () => {
			form.value = {}
            manyRelation.value = []
			loading.value = false
			valid.value = true
			dialog.value = false
		}

        const getProducts = async () => {
            try {
                let res = await axios.get('productos')
                products.value = res.data
            } catch (error) {
                console.log(error)
            }
        }

        const addProduct = () => {
            console.log(manyRelation.value)
            manyRelation.value.push({total: 0})
        }

        const setPrice = (product, relation) => {
            let tempProduct = getProduct(product)
            relation.price = tempProduct.precio
        }

        const getProduct = (id) => {
            for (let item of products.value) {
                if (item.id == id) {
                    return item
                }
            }
        }

        const getTotal = (relation) => {
            relation.total = relation.price * relation.quantity
            getTotalForm()
        }

        const getTotalForm = () => {
            let sum = 0
            for (let temp of manyRelation.value) {
                sum += parseInt(temp.total)
            }
            form.value.total = sum
        }

        const deleteRelation = (index) => {
            manyRelation.value.splice(index, 1)
            getTotalForm()
        }

		// Boot
		$bus.on('openDialogPedidoForm', data => {
            if (data.id) {
                for (let item of data.pedidoProducto) {
                    let temp = {
                        id: item.producto.id,
                        price: item.producto.precio,
                        total: item.total,
                        quantity: item.quantity
                    }
                    manyRelation.value.push(temp)
                }
            }
			form.value = data,
            getProducts()
			dialog.value = true
		})

		// Template
		return {
			dialog,
			form,
			validations,
			save,
			closeDialog,
			formRef,
			valid,
			loading,
            products,
            manyRelation,
            addProduct,
            setPrice,
            getTotal,
            deleteRelation
		}
	}

}
</script>

<style>

</style>