<template>
	<v-row>
		<v-col cols="12">
			<v-dialog
				v-model="dialog"
				transition="dialog-bottom-transition"
			>
				<v-card>
					<v-form @submit.prevent="save" ref="formRef" v-model="valid">
						<v-toolbar
						color="teal"
						class="text-white pa-2 text-h5"
					><strong>Nuevo producto</strong></v-toolbar>
					<v-card-text>
						<v-row>
							<v-col
								cols="6"
								md="6"
							>
								<v-text-field
									v-model="form.nombre"
									:rules="validations.required"
									label="Nombre"
									required
								></v-text-field>
							</v-col>

							<v-col
								cols="6"
								md="6"
							>
								<v-text-field
									v-model="form.fabricante"
									:rules="validations.required"
									label="Fabricante"
									required
								></v-text-field>
							</v-col>

							<v-col
								cols="4"
								md="4"
							>
								<v-text-field
									v-model="form.origen"
									:rules="validations.required"
									label="Origen"
									required
								></v-text-field>
							</v-col>

							<v-col
								cols="4"
								md="4"
							>
								<v-text-field
									type="date"
									v-model="form.fecha_caducidad"
									:rules="validations.required"
									label="Fecha de caducidad"
									required
								></v-text-field>
							</v-col>

							<v-col
								cols="4"
								md="4"
							>
								<v-text-field
									type="number"
									v-model="form.precio"
									:rules="validations.required"
									label="Precio"
									required
								></v-text-field>
							</v-col>

						</v-row>
					</v-card-text>
					<v-card-actions class="justify-end">
						<v-btn
							text
							color="red"
							@click="closeDialog()"
						>Cancelar</v-btn>
						<v-btn
							@click="save()"
							text
							color="green"
							:loading="loading"
						>Guardar</v-btn>
					</v-card-actions>
					</v-form>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</template>

<script>
import { inject, ref } from 'vue'
import axios from '@/plugins/axios'
export default {
	setup () {
		//Variables
		const $bus = inject('bus')
		const dialog = ref(false)
		const form = ref({})
		const formRef = ref(null)
		const valid = ref(true)
		const loading = ref(false)

		// Validations
		const validations = {
			required: [v => !!v || 'Campo requerido']
		}

		// Functions
		const save = async () => {
			formRef.value.validate()
			// BUG DE VUETIFY: SIN RESETEAR EL FORM SE DEBE HACER DOBLE CLICK PARA PASAR LA VALIDACIÓN EN LA EDICIÓN
			// SE ESTA FORZANDO A CAMBIAR EN CASO DE EDICIÓN "valid" a true
			if (form.value.id) {
				valid.value = true
			}
			if (valid.value) {
				try {
					loading.value = true
					if (form.value.id) {
						await axios.patch(`productos/${form.value.id}`, form.value)
						$bus.emit('refreshProductList')
						$bus.emit('notifySuccess')
						closeDialog()
					} else {
						await axios.post('productos', form.value)
						$bus.emit('refreshProductList')
						$bus.emit('notifySuccess')
						closeDialog()
					}	
				} catch (error) {
					console.log(error)
					loading.value = false
					$bus.emit('notifyError')
				}
			}
		}

		const closeDialog = () => {
			form.value = {}
			loading.value = false
			valid.value = true
			dialog.value = false
		}

		// Boot
		$bus.on('openDialogProductForm', data => {
			form.value = data,
			dialog.value = true
		})

		// Template
		return {
			dialog,
			form,
			validations,
			save,
			closeDialog,
			formRef,
			valid,
			loading
		}
	}

}
</script>

<style>

</style>