<template>
  <v-row>
		<v-col cols="12">
			<v-dialog
				v-model="dialog"
				transition="dialog-bottom-transition"
			>
				<v-card>
					<v-toolbar
						color="teal"
						class="text-white pa-2 text-h5"
					><strong>Lista del productos del pedido</strong></v-toolbar>
					<v-card-text>
                        <v-table>
                            <thead>
                            <tr>
                                <th class="text-left">
                                    Producto
                                </th>
                                <th class="text-left">
                                    Precio
                                </th>
                                <th class="text-left">
                                    Cantidad
                                </th>
                                <th class="text-left">
                                    Total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                v-for="product in products"
                                :key="product.id"
                            >
                                <td>{{ product.producto.nombre }}</td>
                                <td>{{ product.producto.precio }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.total }}</td>
                            </tr>
                            </tbody>
                        </v-table>
					</v-card-text>
					<v-card-actions class="justify-end">
						<v-btn
							text
							color="red"
							@click="closeDialog()"
						>Cerrar</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</template>

<script>
import { inject, ref } from 'vue'
export default {
    setup () {
        // Variables
        const $bus = inject('bus')
        const dialog = ref(false)
        const products = ref([])

        // Functions
        const closeDialog = () => {
            dialog.value = false
        }

        // Boot
        $bus.on('openDialogProducts', data => {
            products.value = data
            dialog.value = true
        })
        //Template
        return {
            dialog,
            products,
            closeDialog
        }
    }
}
</script>

<style>

</style>